In [1]:
print("hello world")

hello world

In [2]:
!pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in ./.local/lib/python3.10/site-packages (2.3.2)
Requirement already satisfied: tzdata>=2022.7 in ./.local/lib/python3.10/site-packages (from pandas) (2025.2)
Requirement already satisfied: numpy>=1.22.4 in ./.local/lib/python3.10/site-packages (from pandas) (1.26.4)
Requirement already satisfied: pytz>=2020.1 in /usr/lib/python3/dist-packages (from pandas) (2022.1)
Requirement already satisfied: python-dateutil>=2.8.2 in ./.local/lib/python3.10/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [3]:
import pandas as pd
data=[1,2,3,4,5,6]
v=pd.series(data)
print(v)

AttributeError: module 'pandas' has no attribute 'series'

In [4]:
!pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in ./.local/lib/python3.10/site-packages (2.3.2)
Requirement already satisfied: numpy>=1.22.4 in ./.local/lib/python3.10/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in ./.local/lib/python3.10/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/lib/python3/dist-packages (from pandas) (2022.1)
Requirement already satisfied: tzdata>=2022.7 in ./.local/lib/python3.10/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [5]:
import pandas as pd
data=[1,2,3,4,5]
v=pd.Series(data)
print(v)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [10]:
data={
    'Name':['Akshaya','soha','manasa'],
    'Class':['c1','c2','c3'],
    'City':['khammam','nizambad','karimnagar']
}
df=pd.DataFrame(data)
print(df)

      Name Class        City
0  Akshaya    c1     khammam
1     soha    c2    nizambad
2   manasa    c3  karimnagar

In [61]:
import pandas as pd
df=pd.read_csv('transaction.csv')
print(df)
print(df.head(4))
print(df.tail(6))
print(df.info())
print(df.describe())

    TransactionId TransactionDate  UserID  ProductID  Quantity
0               1       8/21/2010     7.0          2         1
1               2       5/26/2011     3.0          4         1
2               3       7/23/2011     4.0          5         2
3               4       9/17/2021     2.0          5         3
4               5      12/23/2015     NaN          8         6
5               6      11/18/2021     4.0          4         5
6               7       3/31/2006     NaN          3         7
7               8       4/23/2005     3.0          5         1
8               9       6/13/2007     1.0          3         6
9              10       7/19/2001     2.0          7         1
10             11       1/19/2002     3.0          9         2
11             12       2/26/2006     2.0          1         6
   TransactionId TransactionDate  UserID  ProductID  Quantity
0              1       8/21/2010     7.0          2         1
1              2       5/26/2011     3.0          4         1
2              3       7/23/2011     4.0          5         2
3              4       9/17/2021     2.0          5         3
    TransactionId TransactionDate  UserID  ProductID  Quantity
6               7       3/31/2006     NaN          3         7
7               8       4/23/2005     3.0          5         1
8               9       6/13/2007     1.0          3         6
9              10       7/19/2001     2.0          7         1
10             11       1/19/2002     3.0          9         2
11             12       2/26/2006     2.0          1         6
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   TransactionId    12 non-null     int64
 1   TransactionDate  12 non-null     object
 2   UserID           10 non-null     float64
 3   ProductID        12 non-null     int64
 4   Quantity         12 non-null     int64
dtypes: float64(1), int64(3), object(1)
memory usage: 608.0+ bytes
None
       TransactionId    UserID  ProductID   Quantity
count      12.000000  10.00000  12.000000  12.000000
mean        6.500000   3.10000   4.666667   3.416667
std         3.605551   1.66333   2.386833   2.391589
min         1.000000   1.00000   1.000000   1.000000
25%         3.750000   2.00000   3.000000   1.000000
50%         6.500000   3.00000   4.500000   2.500000
75%         9.250000   3.75000   5.500000   6.000000
max        12.000000   7.00000   9.000000   7.000000

In [16]:
df[['TransactionId','UserID']].style.set_table_styles([{'selector':'tbody tr:nth-child(odd)','props':[('background','#f2f2f2')]},{'selector':'td, th','props':[('border','1px solid black')]}])

In [11]:
print(df.iloc[1]) #2nd row

TransactionId              2
TranscationDate    5/26/2011
UserID                   3.0
ProductID                  4
Qunatity                   1
Name: 1, dtype: object

In [17]:
f_df=df[df['UserID']>2] # values greaterthan 2
print(f_df)

    TransactionId TranscationDate  UserID  ProductID  Qunatity
0               1       8/21/2010     7.0          2         1
1               2       5/26/2011     3.0          4         1
2               3        07/10/11     4.0          5         2
5               6      11/18/2021     4.0          4         5
7               8       4/23/2005     3.0          5         1
10             11       1/19/2002     3.0          9         2

In [20]:
df.rename(columns={"UserID": "userid"})

    TransactionId TranscationDate  userid  ProductID  Qunatity
0               1       8/21/2010     7.0          2         1
1               2       5/26/2011     3.0          4         1
2               3        07/10/11     4.0          5         2
3               4       9/17/2021     2.0          5         3
4               5      12/23/2015     NaN          8         6
5               6      11/18/2021     4.0          4         5
6               7       3/31/2006     NaN          3         7
7               8       4/23/2005     3.0          5         1
8               9       6/13/2007     1.0          3         6
9              10       7/19/2001     2.0          7         1
10             11       1/19/2002     3.0          9         2
11             12       2/26/2006     2.0          1         6

In [21]:
print(df.isnull().sum())#counting no of null values

TransactionId      0
TranscationDate    0
UserID             2
ProductID          0
Qunatity           0
dtype: int64

In [27]:
df['UserID'] = df['UserID'].fillna(df['UserID'].mean())#filling null values with mean
print(df['UserID'])

0     7.0
1     3.0
2     4.0
3     2.0
4     3.1
5     4.0
6     3.1
7     3.0
8     1.0
9     2.0
10    3.0
11    2.0
Name: UserID, dtype: float64

In [33]:
sort=df.sort_values(by=['ProductID','TransactionId'],
ascending=[True,True])
print(sort)

    TransactionId TranscationDate  UserID  ProductID  Qunatity
11             12       2/26/2006     2.0          1         6
0               1       8/21/2010     7.0          2         1
6               7       3/31/2006     3.1          3         7
8               9       6/13/2007     1.0          3         6
1               2       5/26/2011     3.0          4         1
5               6      11/18/2021     4.0          4         5
2               3        07/10/11     4.0          5         2
3               4       9/17/2021     2.0          5         3
7               8       4/23/2005     3.0          5         1
9              10       7/19/2001     2.0          7         1
4               5      12/23/2015     3.1          8         6
10             11       1/19/2002     3.0          9         2

rows=df.iloc[[0,2,5]]
print(rows)

In [34]:
rows=df.iloc[[0,2,5]]
print(rows)

   TransactionId TranscationDate  UserID  ProductID  Qunatity
0              1       8/21/2010     7.0          2         1
2              3        07/10/11     4.0          5         2
5              6      11/18/2021     4.0          4         5

In [45]:
cols=['TransactionId','UserID']
sub = df[[col for col in df.columns if col not in cols]]
print(sub)

   TranscationDate  ProductID  Qunatity
0        8/21/2010          2         1
1        5/26/2011          4         1
2         07/10/11          5         2
3        9/17/2021          5         3
4       12/23/2015          8         6
5       11/18/2021          4         5
6        3/31/2006          3         7
7        4/23/2005          5         1
8        6/13/2007          3         6
9        7/19/2001          7         1
10       1/19/2002          9         2
11       2/26/2006          1         6

In [56]:
df['TranscationDate']=pd.to_datetime(df['TransactionDate'])
print(df.dtypes)

TransactionId               int64
TranscationDate    datetime64[ns]
UserID                    float64
ProductID                   int64
Qunatity                    int64
dtype: object

In [69]:
df['Products']=df['UserID']+df['ProductID']
print(df.head())

   TransactionId TransactionDate  UserID  ProductID  Quantity  total  Products
0              1       8/21/2010     7.0          2         1      2       9.0
1              2       5/26/2011     3.0          4         1      2       7.0
2              3       7/23/2011     4.0          5         2      4       9.0
3              4       9/17/2021     2.0          5        10      6       7.0
4              5      12/23/2015     NaN          8         6     12       NaN

In [58]:
print("cols:",df.columns)
print("Number of columns:",len(df.columns))

cols: Index(['TransactionId', 'TranscationDate', 'UserID', 'ProductID', 'Qunatity',
       'Products'],
      dtype='object')
Number of columns: 6

In [70]:
df['total']=df['Quantity']*2
print(df.head())

   TransactionId TransactionDate  UserID  ProductID  Quantity  total  Products
0              1       8/21/2010     7.0          2         1      2       9.0
1              2       5/26/2011     3.0          4         1      2       7.0
2              3       7/23/2011     4.0          5         2      4       9.0
3              4       9/17/2021     2.0          5        10     20       7.0
4              5      12/23/2015     NaN          8         6     12       NaN

In [65]:
new=10;
df.loc[df['UserID']==2, 'Quantity']=new
print(df['Quantity'])

0      1
1      1
2      2
3     10
4      6
5      5
6      7
7      1
8      6
9     10
10     2
11    10
Name: Quantity, dtype: int64

In [71]:
tid=12
tdate="3/31/2006"
uid=8
upid=3
quan=5
p=13
total=14
df.loc[len(df)]=[
    tid,
tdate,
uid,
upid,
quan,
p,
total 
]
print(df)

    TransactionId TransactionDate  UserID  ProductID  Quantity  total  \
0               1       8/21/2010     7.0          2         1      2
1               2       5/26/2011     3.0          4         1      2
2               3       7/23/2011     4.0          5         2      4
3               4       9/17/2021     2.0          5        10     20
4               5      12/23/2015     NaN          8         6     12
5               6      11/18/2021     4.0          4         5     10
6               7       3/31/2006     NaN          3         7     14
7               8       4/23/2005     3.0          5         1      2
8               9       6/13/2007     1.0          3         6     12
9              10       7/19/2001     2.0          7        10     20
10             11       1/19/2002     3.0          9         2      4
11             12       2/26/2006     2.0          1        10     20
12             12       3/31/2006     8.0          3         5     10
13             12       3/31/2006     8.0          3         5     13

    Products
0        9.0
1        7.0
2        9.0
3        7.0
4        NaN
5        8.0
6        NaN
7        8.0
8        4.0
9        9.0
10      12.0
11       3.0
12      11.0
13      14.0

In [74]:
!pip install scikit-learn

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: scikit-learn in ./.local/lib/python3.10/site-packages (1.7.1)
Requirement already satisfied: joblib>=1.2.0 in ./.local/lib/python3.10/site-packages (from scikit-learn) (1.5.2)
Requirement already satisfied: scipy>=1.8.0 in ./.local/lib/python3.10/site-packages (from scikit-learn) (1.15.3)
Requirement already satisfied: numpy>=1.22.0 in ./.local/lib/python3.10/site-packages (from scikit-learn) (1.26.4)
Requirement already satisfied: threadpoolctl>=3.1.0 in ./.local/lib/python3.10/site-packages (from scikit-learn) (3.6.0)

In [1]:
!pip install scikit-learn

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: scikit-learn in ./.local/lib/python3.10/site-packages (1.7.1)
Requirement already satisfied: threadpoolctl>=3.1.0 in ./.local/lib/python3.10/site-packages (from scikit-learn) (3.6.0)
Requirement already satisfied: scipy>=1.8.0 in ./.local/lib/python3.10/site-packages (from scikit-learn) (1.15.3)
Requirement already satisfied: joblib>=1.2.0 in ./.local/lib/python3.10/site-packages (from scikit-learn) (1.5.2)
Requirement already satisfied: numpy>=1.22.0 in ./.local/lib/python3.10/site-packages (from scikit-learn) (1.26.4)